<%- include('partials/header') -%>


  <section class="flex justify-center">
    <h1 class="text-4xl">Feed</h1>
  </section>
<!-- row justify-content-center mt-5 -->

      <ul class="flex col md:flex row justify-center flex-wrap space-x-4 mt-10 min-h-screen">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="w-32" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>



<%- include('partials/footer') -%>