<%- include('partials/header') -%>

<main class="container mt-10">
    <div class="flex flex-col justify-center md:flex-row space-x-4"> <!-- need to fix so that column on mobile is centered--> 
        <a href="/login" class="block p-3 px-6 pt-2 text-white bg-kindaOrange rounded-full baseline hover:bg-black"> Login</a>
        <a href="/signup" class="block p-3 px-6 pt-2 text-white bg-kindaOrange rounded-full baseline hover:bg-black"> Signup</a>
    </div>
</main>
    
<!-- col-3 btn btn-primary -->

<%- include('partials/footer') -%>